.flatpak
.vscode
_build
builddir
build
gschemas.compiled

# Debian packaging build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/gnome-network-displays/